<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UserDashboard</title>
    <link rel="stylesheet" type="text/css" href="./style1.css" />
</head>
<body>
    <nav class="navbar">
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="all">All Books</a></li>
            <li><a href="fav">Favorite Books</a></li>
            <li><a href="lib">Library</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="login">Logout</a></li>
        </ul>
        </div>
    </nav>

    <div id="main">
    <h1>User Page</h1>
    </div>

    </body>
</html>