<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favorite Books</title>
    <link rel="stylesheet" type="text/css" href="./style1.css"/>
</head>
<body>
<nav class="navbar">

    <ul class="navbar-nav">
        <li><a href="all" class="button">Back To All Books</a></li>
    </ul>
</nav>

<div id="main">
    <h1>Favorite Books</h1>
</div>

<table>
    <thead>
    <tr>
        <th colspan="5">Favorite Books</th>
    </tr>
    </thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author Name</th>
        <th>Publisher Name</th>
        <th>Remove From Favorites</th>
    </tr>

    <tbody>
    <tr th:each="book : ${books}">
        <td><span th:text="${book.id}"> Id </span></td>
        <td><span th:text="${book.title}"> Title </span></td>
        <td><span th:text="${book.authorName}"> Author Name </span></td>
        <td><span th:text="${book.publisherName}"> Publisher Name </span></td>
        <td>
            <form action="" th:action="@{|/books/remove/favorite/${book.id}|}" method="post">
                <p>
                    <input type="submit" value="Remove" class="button">
                </p>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>