<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="./style1.css" />
    <title>Signup</title>
</head>
<body>
<div class="center">
    <ul>
        <li><a href="/" class="button">HomePage</a></li>
    </ul>
    <h1>Signup</h1>

    <form method="post" action="register">
        <div class="txt_field">
            <input type="text" name="firstName" required>
            <label>Firstname</label>
        </div>
        <div class="txt_field">
            <input type="text" name="lastName" required>
            <label>Lastname</label>
        </div>
        <div class="txt_field">
            <input type="text" name="username" required>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password" required>
            <label>Password</label>
        </div>
        <div class="txt_field">
            <input type="code" name="nationalCode" required>
            <label>NationalCode</label>
        </div>
        <p>
            <input type="submit" value="Signup" class="button">
        </p>

    </form>
</div>
</body>
</html>